.l-work {
  display: flex;
  flex-flow: column nowrap;
  &__year {
    font-size: $font-size-h1;
    text-align: center;
    margin: 1em 0;
  }
}

@include breakpoint(laptop) {
  .l-work {
    flex-flow: row nowrap;
    &__year {
      margin-top: 0;
      text-align: left;
      flex: 0 0 120px;
      width: 120px;
    }
    &__list {
      flex: 1 1 100%;
    }
  }
}