<div class="o-cardGroup">
  <div class="o-cardGroup__item m-card l-article">
    <div class="m-card__content">
      <h2 class="l-article__title">CONTACT</h2>
      <p>
        Metrowingではお客様のニーズに合わせ、各種オリジナル楽曲の製作を承っております。<br>
        下記のメールフォームよりお気軽にお問合せください。<br>
        スタッフがお客様のご要望を丁寧にヒアリングし、最適なご提案をいたします。
      </p>
      <form name="contactForm" class="o-formGroup" target="_blank" method="POST" id="mG61Hd"
      action="https://docs.google.com/forms/d/e/1FAIpQLSfASghh8MtVepFYZH7xgHh-Ulpt4BQMaP87ZZLkQz5pmiyPug/formResponse">
        <div class="m-formControl">
          <label class="m-formControl__label a-label">お名前</label>
          <div class="m-formControl__input">
            <input class="a-input" ng-model="user.name" required
            type="text" jsname="YPqjbf" autocomplete="off" aria-label="お名前" aria-describedby="i.desc.912559282 i.err.912559282"
            name="entry.1101806219" dir="auto" />
            <div ng-messages="contactForm['entry.1101806219'].$error" class="m-formControl__error"
            ng-if="contactForm['entry.1101806219'].$touched && contactForm['entry.1101806219'].$invalid">
              <div class="a-errorMsg" ng-message="required">入力されていません。</div>
            </div>
          </div>
        </div>
        <div class="m-formControl">
          <label class="m-formControl__label a-label">メールアドレス</label>
          <div class="m-formControl__input">
            <input class="a-input" ng-model="user.email" required
            type="email" jsname="YPqjbf" autocomplete="off" aria-label="メールアドレス" aria-describedby="i.desc.1810524056 i.err.1810524056"
            name="entry.364279490" value="" dir="auto" />
            <div ng-messages="contactForm['entry.364279490'].$error" class="m-formControl__error"
            ng-if="contactForm['entry.364279490'].$touched && contactForm['entry.364279490'].$invalid">
              <div class="a-errorMsg" ng-message="required">入力されていません。</div>
              <div class="a-errorMsg" ng-message="required">メールアドレスの形式が有効ではありません。</div>
            </div>
          </div>
        </div>
        <div class="m-formControl">
          <label class="m-formControl__label a-label">件名</label>
          <div class="m-formControl__input">
            <input class="a-input" ng-model="user.title" required
            type="text" jsname="YPqjbf" autocomplete="off" aria-label="件名" aria-describedby="i.desc.2111598534 i.err.2111598534" 
            name="entry.701274354" dir="auto" />
            <div ng-messages="contactForm['entry.701274354'].$error" class="m-formControl__error"
            ng-if="contactForm['entry.701274354'].$touched && contactForm['entry.701274354'].$invalid">
              <div class="a-errorMsg" ng-message="required">入力されていません。</div>
            </div>
          </div>
        </div>
        <div class="m-formControl">
          <label class="m-formControl__label a-label">本文</label>
          <div class="m-formControl__input">
            <textarea class="a-input" ng-model="user.subject" required
            rows="10" cols="30" jsname="YPqjbf" rows="1" aria-label="本文" jscontroller="gZjhIf" jsaction="input:Lg5SV;ti6hGc:XMgOHc;rcuQ6b:WYd;" 
            name="entry.1493887560" dir="auto"></textarea>
            <div ng-messages="contactForm['entry.1493887560'].$error" class="m-formControl__error"
            ng-if="contactForm['entry.1493887560'].$touched && contactForm['entry.1493887560'].$invalid">
              <div class="a-errorMsg" ng-message="required">入力されていません。</div>
            </div>
          </div>
        </div>
        <input type="hidden" name="fvv" value="1">
        <input type="hidden" name="draftResponse" value="[,,&quot;1772224145740366688&quot;]">
        <input type="hidden" name="pageHistory" value="0">
        <input type="hidden" name="fbzx" value="1772224145740366688">
        <button class="a-button a-button--black" ng-disabled="contactForm.$invalid">送信</button>
      </form>
    </div>
  </div>
</div>